doctype html
html(lang="ru")
    include ../includes/_head

    body
        include ../includes/_header
        include ../includes/_section_one
        include ../includes/_section_two
        include ../includes/_section_three
        include ../includes/_footer

        a.buttonToTop(href='#header')#buttonToTop
        include ../includes/_scripts

