footer
    section.section-footer-top
        .container
            .section-footer-top-block
                .section-footer-top-wrapper
                    .footer-top-image
                        img(src='img/630.png')
                    span Let them decide! &nbsp;
                    span  Pick out a &nbsp;
                    a(href='#')  Gift Card &nbsp;
                    span and give them choice!
    section.section-footer-middle
        .container
            .section-footer-middle-wrapper
                nav
                    .headline-menu-footer
                        span HELP & CONTACT
                    ul
                        li
                            a(href='#')
                        li
                            a(href='#') Help
                        li
                            a(href='#') Payment Methods
                        li
                            a(href='#') Voucher Information
                        li
                            a(href='#') Customer Service
                nav
                    .headline-menu-footer
                        span business
                    ul
                        li
                            a(href='#') About Us
                        li
                            a(href='#') Partnerprogramm
                        li
                            a(href='#') Jobs
                        li
                            a(href='#') Blog

                nav
                    .headline-menu-footer
                        span Top Categories
                    ul
                        li
                            a(href='#') Contact Us
                        li
                            a(href='#') Buy Gift Vouchers
                        li
                            a(href='#') Voucher Information
                        li
                            a(href='#') Student Discount
                nav
                    .headline-menu-footer
                        span Account
                    ul
                        li
                            a(href='#') Your Account
                        li
                            a(href='#') Order Status
                        li
                            a(href='#') Wish List
                        li
                            a(href='#') Live Chat
    section.section-footer-bottom
        .logo-footer
            img(src='img/logo-header.png')
        span © Copyright Workspace & Co, All Rights Reserved.