section.section-one
    .slider-block
        .slider-left-button
        .slider-wrapper
            .slider-item
                img(src='img/breather-196132.png')
                .slider-item-info
                    h2 Workspace
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                     |do eiusmod tempor incididunt ut labore et dolore magna.
            .slider-item
                img(src='img/breather-196132.png')
                .slider-item-info
                    h2 Workspace
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        | do eiusmod tempor incididunt ut labore et dolore magna.
            .slider-item
                img(src='img/breather-196132.png')
                .slider-item-info
                    h2 Workspace
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        | do eiusmod tempor incididunt ut labore et dolore magna.
            .slider-item
                img(src='img/breather-196132.png')
                .slider-item-info
                    h2 Workspace
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        | do eiusmod tempor incididunt ut labore et dolore magna.
            .slider-item
                img(src='img/breather-196132.png')
                .slider-item-info
                    h2 Workspace
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        | do eiusmod tempor incididunt ut labore et dolore magna.

        .slider-dots
        .slider-right-button