section.section-three
    .container
        .our-vision-block
            h2 Our Vision
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .our-vision-image
                img(src='img/628.png')