section.section-two
    .container
        .headline
            h2 Latest News
        .news-wrapper
            .news-item
                .news-block-image
                    img(src='img/photo-1434494878577-86c23bcb06b9.png')
                .news-info-block
                    h3 smart watches
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        | sed do eiusmod tempor incididunt.
                    button.news-info-block-button Read More
            .news-item
                .news-block-image
                    img(src='img/2942.png')
                .news-info-block
                    h3 POPULAR DESIGN NEWS
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        | sed do eiusmod tempor incididunt.
                    button.news-info-block-button Read More
            .news-item.reverse
                .news-block-image
                    img(src='img/coffee-laptop-notebook-working.png')
                .news-info-block
                    h3 20 best new websites
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        | sed do eiusmod tempor incididunt.
                    button.news-info-block-button Weiterlesen
            .news-item.reverse
                .news-block-image
                    img(src='img/1837.png')
                .news-info-block
                    h3 wat’s new
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        | sed do eiusmod tempor incididunt.
                    button.news-info-block-button Weiterlesen